In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
dataset = pd.read_csv('data.csv', sep=';')
dataset

,Game,ReleaseDate,Genre,LANEarnings,OnlineEarnings,TotalPlayers,TotalTournaments,AllEarnings,TierCompetitive
0,Dota 2,2013,Multiplayer Online Battle Arena,31187903215,28085206696,4563,1742,59273109911,1
1,Fortnite,2017,Battle Royale,14911647191,4584213347,6104,1149,19495860538,1
2,Arena of Valor,2015,Multiplayer Online Battle Arena,7039242725,6637330149,1842,145,13676572874,1
3,PLAYERUNKNOWN'S BATTLEGROUNDS Mobile,2017,Battle Royale,6294769628,4072285932,3423,233,10367055560,1
4,PLAYERUNKNOWN’S BATTLEGROUNDS,2017,Battle Royale,5233920306,3887534473,3517,554,9121454779,1
...,...,...,...,...,...,...,...,...,...
624,Pac-man,1981,Puzzle Game,0,0,0,0,0,0
625,Apex Legends Mobile,2022,Battle Royale,0,0,0,0,0,0
626,Ark: Survival Of The Fittest,2017,Battle Royale,0,0,0,0,0,0
627,Rules Of Survival,2017,Battle Royale,0,0,0,0,0,0
628,Knockout City,2021,Third-Person Shooter,0,0,0,0,0,0

Untuk menampilkan dataset

In [ ]:
df_baru = dataset.loc[:,['Game','AllEarnings','TierCompetitive']]
df_baru

                                     Game  AllEarnings  TierCompetitive
0                                  Dota 2  59273109911                1
1                                Fortnite  19495860538                1
2                          Arena of Valor  13676572874                1
3    PLAYERUNKNOWN'S BATTLEGROUNDS Mobile  10367055560                1
4           PLAYERUNKNOWN’S BATTLEGROUNDS   9121454779                1
..                                    ...          ...              ...
624                               Pac-man            0                0
625                   Apex Legends Mobile            0                0
626          Ark: Survival Of The Fittest            0                0
627                     Rules Of Survival            0                0
628                         Knockout City            0                0

[629 rows x 3 columns]

Mengecek data apabila terdapat nun atau tidak

In [ ]:
df_baru.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 629 entries, 0 to 628
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Game             629 non-null    object
 1   AllEarnings      629 non-null    int64
 2   TierCompetitive  629 non-null    int64
dtypes: int64(2), object(1)
memory usage: 14.9+ KB

In [ ]:
df_baru.isnull().sum()

Game               0
AllEarnings        0
TierCompetitive    0
dtype: int64

Untuk mengetahui data type

In [ ]:
x = df_baru[['Game','AllEarnings']].values
y = df_baru['TierCompetitive'].values

In [ ]:
print(x)

[[        138 59273109911]
 [        193 19495860538]
 [         21 13676572874]
 ...
 [         22           0]
 [        458           0]
 [        285           0]]

In [ ]:
print(y)

[1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 3 2 3 3 3 3 3 3 3 3 3 3
 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 2 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3
 3 3 3 4 3 3 3 3 4 4 3 3 3 3 3 4 3 4 3 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 3 4
 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4
 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 5 4 4 5 5 4 4 5 5 4 4 4 5 5 5 4 4 4
 4 4 4 4 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 4 5 5 5 5 5 5 5 5 5 5 5 5 5 5
 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5
 5 5 4 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5
 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5
 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5
 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5
 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5
 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5
 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5
 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5
 5 5 5 5 5 5 5 5 5 5 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df_baru['Game'] = le.fit_transform(dataset['Game'].values)
y = le.fit_transform(y)

In [ ]:
print(df_baru)

     Game  AllEarnings  TierCompetitive
0     138  59273109911                1
1     193  19495860538                1
2      21  13676572874                1
3     377  10367055560                1
4     378   9121454779                1
..    ...          ...              ...
624   379            0                0
625    15            0                0
626    22            0                0
627   458            0                0
628   285            0                0

[629 rows x 3 columns]

In [ ]:
print(x,y)

[[        138 59273109911]
 [        193 19495860538]
 [         21 13676572874]
 ...
 [         22           0]
 [        458           0]
 [        285           0]] [1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 3 2 3 3 3 3 3 3 3 3 3 3
 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 2 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3
 3 3 3 4 3 3 3 3 4 4 3 3 3 3 3 4 3 4 3 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 3 4
 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4
 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 5 4 4 5 5 4 4 5 5 4 4 4 5 5 5 4 4 4
 4 4 4 4 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 4 5 5 5 5 5 5 5 5 5 5 5 5 5 5
 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5
 5 5 4 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5
 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5
 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5
 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5
 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5
 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5
 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5
 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5
 5 5 5 5 5 5 5 5 5 5 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

In [ ]:
print(x_train)

[[        39    2692656]
 [        65  487944507]
 [       375 5302050846]
 ...
 [       440     158000]
 [       579    9247014]
 [        49         70]]

In [ ]:
print(x_test)

[[        261     7035378]
 [        214      210848]
 [        332         740]
 [        459      416009]
 [        448       70000]
 [        187    34027383]
 [        313         260]
 [        131         200]
 [        396      542102]
 [         91         100]
 [        483         600]
 [         35    18343044]
 [        417     5041692]
 [        488        9960]
 [          2     6584956]
 [        567       67941]
 [        422         400]
 [        352      140586]
 [        379           0]
 [        626   358846006]
 [         78     1063000]
 [        218           0]
 [        385     4053632]
 [        408      432000]
 [         75    81793470]
 [        107     1263141]
 [         24       11745]
 [        372     4603542]
 [        415       70000]
 [        329       15070]
 [         88         750]
 [         67   290921088]
 [        513   452704190]
 [         61          16]
 [        419    41058418]
 [        301        3000]
 [        363     7264516]
 [         97    10617334]
 [        197       26474]
 [        287  1848834220]
 [        620     6537076]
 [        280          50]
 [        333       16623]
 [        390   331310430]
 [        523   414436555]
 [         96        2000]
 [        285           0]
 [        350         501]
 [        148           0]
 [        496       50000]
 [        540       20500]
 [        271         275]
 [        617     4874672]
 [         47         250]
 [        345      118670]
 [        200  2534900171]
 [        444      262203]
 [        171    18372529]
 [        355      631432]
 [        544           0]
 [         36     3709228]
 [        466      655238]
 [        193 19495860538]
 [        286        3380]
 [        275   113473270]
 [        597         460]
 [        299      250000]
 [        492    33570055]
 [          6   122522409]
 [        456       50000]
 [        249  4772562831]
 [        421       13000]
 [        295     2105228]
 [        615  1267772652]
 [         55    10541158]
 [        166    23693976]
 [        529        1000]
 [        195      444000]
 [         23    13122015]
 [        391      150000]
 [        365     6441692]
 [         43     1617556]
 [        395           0]
 [        501     1535850]
 [        251     1233933]
 [        185   500196871]
 [        604     1596330]
 [        451     7809808]
 [        371        4050]
 [        536   365939974]
 [        161       80000]
 [        554     7764816]
 [        236   214638834]
 [        321      286980]
 [        194        5000]
 [         86        3015]
 [        386        7500]
 [        254  3262079032]
 [        572         150]
 [        595      114754]
 [        307      100000]
 [        325           0]
 [        589  2182026406]
 [         11       80000]
 [         79    11401000]
 [        322           0]
 [        181   232927466]
 [        493       55020]
 [        613   790352831]
 [        300     1626000]
 [        217       66800]
 [         66    72276266]
 [        504   143853527]
 [        616     1496108]
 [        259   191561829]
 [        392    15418832]
 [        475           0]
 [        340   100153292]
 [        568       20550]
 [        264           0]
 [        561     3931254]
 [          9      250000]
 [        282    14794418]
 [        186        4100]
 [        100  2640826924]
 [        441      263000]]

In [ ]:
print(y_train)

[5 3 1 5 4 5 5 0 5 5 5 3 0 5 4 4 5 5 0 5 0 0 5 5 5 5 4 0 5 4 0 5 5 0 4 0 0
 5 4 5 5 0 3 5 5 5 5 4 5 0 1 5 3 5 4 5 4 5 0 5 5 5 5 5 5 5 5 2 5 5 5 5 5 5
 5 4 5 0 5 4 5 5 5 5 5 5 4 0 5 5 4 2 3 5 5 5 5 4 0 5 5 4 5 0 5 5 5 5 5 4 5
 3 5 2 3 0 4 1 5 5 5 5 0 5 5 5 5 4 5 5 1 0 5 4 4 3 3 4 5 5 5 3 3 5 5 5 5 5
 5 5 5 5 3 5 5 5 5 4 4 4 3 5 0 5 4 3 5 5 5 5 3 5 1 5 5 5 5 1 4 5 4 5 0 2 5
 5 5 0 5 5 0 4 3 0 0 5 0 0 4 0 5 5 0 5 5 5 4 5 5 4 4 5 3 4 5 0 5 5 5 4 5 5
 0 5 5 5 4 4 3 5 0 5 5 5 5 5 3 1 5 5 0 4 5 5 0 5 4 5 0 5 5 4 5 5 4 5 5 5 5
 5 5 5 4 5 5 5 5 5 5 0 5 5 4 3 3 5 3 5 5 3 5 0 5 0 5 0 5 5 5 5 5 5 3 5 5 3
 5 3 5 5 5 5 0 5 3 5 5 4 4 5 5 4 5 4 5 5 5 5 5 5 5 0 5 5 5 3 2 5 5 5 5 5 4
 5 4 4 5 4 5 3 5 5 3 5 5 5 1 5 5 5 4 5 5 5 5 4 4 5 4 5 5 5 5 3 4 4 5 4 2 5
 5 3 5 5 5 4 5 5 5 5 5 5 5 5 0 5 5 5 2 5 5 5 5 4 5 5 5 0 5 4 5 0 5 0 4 3 3
 5 1 3 3 3 2 3 5 5 4 4 4 5 4 2 0 5 5 5 5 5 5 5 5 5 5 4 0 4 5 5 5 5 4 5 4 3
 5 5 3 0 5 4 4 5 4 5 3 5 5 0 5 3 5 5 5 5 5 3 0 4 3 4 5 5 4 5 5 5 5 5 5 4 4
 4 5 5 4 3 5 0 5 3 5 5 5 5 0 5 3 0 5 1 5 5 5]

In [ ]:
print(y_test)

[5 5 5 5 5 4 5 5 5 5 5 4 5 5 5 5 5 5 0 3 5 0 5 5 4 5 5 5 5 5 5 3 3 5 4 5 5
 4 5 2 5 5 5 3 3 5 0 5 0 5 5 5 5 5 5 1 5 4 5 0 5 5 1 5 3 5 5 4 3 5 1 5 5 2
 4 4 5 5 4 5 5 5 0 5 5 3 5 5 5 3 5 5 3 5 5 5 5 1 5 5 5 0 1 5 4 0 3 5 3 5 5
 4 3 5 3 4 0 3 5 0 5 5 4 5 1 5]

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train[:, 1:] = sc.fit_transform(x_train[:, 1:])
x_test[:, 1:] = sc.transform(x_test[:, 1:])

In [ ]:
print(x_train)

[[ 39   0]
 [ 65   0]
 [375   1]
 ...
 [440   0]
 [579   0]
 [ 49   0]]

In [ ]:
print(x_test)

[[261   0]
 [214   0]
 [332   0]
 [459   0]
 [448   0]
 [187   0]
 [313   0]
 [131   0]
 [396   0]
 [ 91   0]
 [483   0]
 [ 35   0]
 [417   0]
 [488   0]
 [  2   0]
 [567   0]
 [422   0]
 [352   0]
 [379   0]
 [626   0]
 [ 78   0]
 [218   0]
 [385   0]
 [408   0]
 [ 75   0]
 [107   0]
 [ 24   0]
 [372   0]
 [415   0]
 [329   0]
 [ 88   0]
 [ 67   0]
 [513   0]
 [ 61   0]
 [419   0]
 [301   0]
 [363   0]
 [ 97   0]
 [197   0]
 [287   0]
 [620   0]
 [280   0]
 [333   0]
 [390   0]
 [523   0]
 [ 96   0]
 [285   0]
 [350   0]
 [148   0]
 [496   0]
 [540   0]
 [271   0]
 [617   0]
 [ 47   0]
 [345   0]
 [200   0]
 [444   0]
 [171   0]
 [355   0]
 [544   0]
 [ 36   0]
 [466   0]
 [193   6]
 [286   0]
 [275   0]
 [597   0]
 [299   0]
 [492   0]
 [  6   0]
 [456   0]
 [249   1]
 [421   0]
 [295   0]
 [615   0]
 [ 55   0]
 [166   0]
 [529   0]
 [195   0]
 [ 23   0]
 [391   0]
 [365   0]
 [ 43   0]
 [395   0]
 [501   0]
 [251   0]
 [185   0]
 [604   0]
 [451   0]
 [371   0]
 [536   0]
 [161   0]
 [554   0]
 [236   0]
 [321   0]
 [194   0]
 [ 86   0]
 [386   0]
 [254   1]
 [572   0]
 [595   0]
 [307   0]
 [325   0]
 [589   0]
 [ 11   0]
 [ 79   0]
 [322   0]
 [181   0]
 [493   0]
 [613   0]
 [300   0]
 [217   0]
 [ 66   0]
 [504   0]
 [616   0]
 [259   0]
 [392   0]
 [475   0]
 [340   0]
 [568   0]
 [264   0]
 [561   0]
 [  9   0]
 [282   0]
 [186   0]
 [100   0]
 [441   0]]