Import library numpy, pandas dan scikit-learn

In [63]:
import numpy as np
import pandas as pd
from sklearn import tree

Membaca Dataset dari File ke Pandas dataFrame

In [64]:
irisDataset = pd.read_csv('Iris.csv', delimiter=';', header=0)

In [65]:
irisDataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             100 non-null    int64
 1   SepalLengthCm  100 non-null    float64
 2   SepalWidthCm   100 non-null    float64
 3   PetalLengthCm  100 non-null    float64
 4   PetalWidthCm   100 non-null    float64
 5   Species        100 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 4.8+ KB

Mengubah kelas (kolom "Species") dari String ke Unique-Integer

In [66]:
irisDataset["Species"] = pd.factorize(irisDataset.Species)[0]

In [67]:
irisDataset

     Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0     1           7.00          3.02           4.07          1.04        0
1     2           6.04          3.02           4.05          1.05        0
2     3           6.09          3.01           4.09          1.05        0
3     4           5.05          2.03           4.00          1.03        0
4     5           6.05          2.08           4.06          1.05        0
..  ...            ...           ...            ...           ...      ...
95   96           6.07          3.00           5.02          2.03        1
96   97           6.03          2.05           5.00          1.09        1
97   98           6.05          3.00           5.02          2.00        1
98   99           6.02          3.04           5.04          2.03        1
99  100           5.09          3.00           5.01          1.08        1

[100 rows x 6 columns]

Menghapus kolom "Id"

In [68]:
irisDataset = irisDataset.drop(labels="Id", axis=1)

Mengubah dataFrame ke array Numpy

In [69]:
irisDataset = irisDataset.to_numpy()

Membagi Dataset => 80 baris data untuk training dan 20 baris data untuk testing

In [70]:
dataTraining = np.concatenate((irisDataset[0:40, :], irisDataset[50:90, :]), 
                              axis=0)
dataTesting = np.concatenate((irisDataset[40:50, :], irisDataset[90:100, :]), 
                             axis=0)

Memecah Dataset ke Input dan Label

In [71]:
inputTraining = dataTraining[:, 0:4]
inputTesting = dataTesting[:, 0:4]
labelTraining = dataTraining[:, 4]
labelTesting = dataTesting[:, 4]

In [72]:
model = tree.DecisionTreeClassifier()

In [73]:
model = model.fit(inputTraining, labelTraining)

Memprediksi Input Data Testing

In [74]:
hasilPrediksi = model.predict(inputTesting)
print("Label Sebenarnya : ", labelTesting)
print("Hasil Prediksi : ", hasilPrediksi)

Label Sebenarnya :  [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
Hasil Prediksi :  [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]

Menghitung Akurasi

In [75]:
prediksiBenar = (hasilPrediksi == labelTesting).sum()
prediksiSalah = (hasilPrediksi != labelTesting).sum()
print("Prediksi Benar :", prediksiBenar, "data")
print("Prediksi Salah :", prediksiSalah, "data")
print("Akurasi :", prediksiBenar/(prediksiBenar+prediksiSalah) * 100, "%")

Prediksi Benar : 20 data
Prediksi Salah : 0 data
Akurasi : 100.0 %